<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>

        body {
            background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
        }

    </style>
</head>

<body class="h-screen font-sans antialiased text-gray-900 flex items-center justify-center">

    <div class="w-full max-w-md p-8 m-4 bg-white shadow-lg rounded-xl text-center">

        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 mx-auto text-red-500 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M12 9v2m0 4h.01m-6.938 1h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 13c-.77 1.333.192 3 1.732 3z"></path>
        </svg>

        <h2 class="text-3xl font-semibold mb-4 tracking-wide">Error</h2>
        <p class="text-lg">Please try again.</p>
    </div>

</body>

</html>
